/* =============================================================================
   HTML5 reset
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {  -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%; 
    margin: 0; padding: 0; font-size: 13px; line-height: 1.231; 
  }

    *,:before,:after
  {
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
  }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }


::-moz-selection { background: #5db7cd; color: #fff; text-shadow: none; }
::selection { background: #5db7cd; color: #fff; text-shadow: none; }

a {
    text - decoration: none;
    color: inherit
}
a: active,
a: focus {
    outline: 0
}







/* =============================================================================
   Site styles
   ========================================================================== */


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	
	margin: 0px auto;
}

/*////////////St. Josephs VC Digital Model Project Page////////////*/

h3{
/*	position:relative;
	list-style: none;*/
	margin-top: 0;
  	font-family: Montserrat;
	font-weight: 700;
	font-size:15pt;
	/*letter-spacing:.1em;*/
	/*line-height:2em;*/
	/*opacity: .6;*/
}

p{	
	margin-top:1em;
	font-family: Open Sans;
	font-weight: 300;
	font-size:13pt;
	/*letter-spacing:.15em;*/
	line-height:1.5em;
	/*opacity: .6;*/
}


#brief{
	left:50px;
	top:30px;
}

/*#pagewrap {
	position: relative;
	width: 100%;
	min-width: 980px;
	height:100%;
	margin-top:0;
	margin: 0 auto;
	overflow: auto;
}*/

.projectContainer{
	z-index: 100;
	position: relative;	
	width:100%;
	min-width: 980px;
	height: 100%;
	/*display: inline;*/
	overflow: hidden;


	/*border:3px solid red;*/
}




.projectBanner{
	position:relative;
	z-index: 10;
	/*max-height:100%; */
	/*max-width:100%; */
	/*width:500px;*/
	width:100%;
	/*height:100%;*/
	padding-bottom: 56.25%;

	background-size: 100%;
	background-repeat: no-repeat;

	/*border:1px solid blue;*/
}

.sfdm{
	background-image: url(../img/sfdm00.jpg);
	/*background-image: url(../img/stjo0m.png);*/
}

.projectLogo{
	z-index:15;
	position:relative;
	width: 400px;
	height:100px;
	/*border:2px solid red;*/
}

.Lsjvc{
	top:205px;
	left:80px;
	background-size:100%;
	background-repeat:no-repeat;
	/*background-image: url(../img/sfdm00.png);*/
}

.projectSections {
	/*border:2px solid green;*/
	margin:0 auto;
	width:980px;
}

#projectBannerTemp{
	z-index: 100;
	position:absolute;
 	/*bottom:140px;*/
 	/*right:200px;*/
 	/*top:65%;*/
 	top:230px;

 	/*bottom:10%;*/
 	left:50%;
	width:450px;
	/*height:100px;*/
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	/*border:2px solid green;*/
}

.projectBannerText{
	z-index: 10;
	position:absolute;
 	/*bottom:140px;*/
 	/*right:200px;*/
 	/*top:65%;*/
 	/*top:630px;*/
 	bottom:10%;
 	/*bottom:10%;*/
 	left:50%;
	width:450px;

	/*height:100px;*/
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
	/*border:2px solid green;*/
}


.blackout{
	z-index: -1;
	position:absolute;
	top:-5px;
	left:-10px;
	width:350px;
	height:130px;
	background-color: #000;
	box-shadow: 0 0 10px 5px #000;
	border-radius: 2%;
	opacity: .5;
}


#btSfdm{

	/*margin-right:0px;*/
	text-align: left;
	color:#fff;
	font-family: Raleway;
	font-weight:300;
	font-size: 26px;
	line-height: 1.5em;
	/*line-height: 1.5em;*/
	/*border:2px solid red;*/
}

.projectBannerText2{
	position: relative;
	left: 0;
	top: 10px;
	/*margin-left:50%;*/
	width:310px;
	font-size: 11pt;
	line-height: 16pt;
	/*height:405px;*/
	margin-left:0px;
	/*border:2px solid green;*/
}


.projectImg{
	z-index: 10;
	position: relative;	
	background-size: 100% auto;
	background-repeat: no-repeat;
	/*border:1px solid orange;*/
}

.sjvc0{
	
	top:-100px;
	left:620px;
	width:350px;
	height:300px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	/*background-image: url(../img/stjo0m.png);*/
}

ul {
	padding:0;
	list-style-type: none;
}

#projectBriefContainer{
	z-index: 100;
	margin:0 auto;
	position: absolute;
	left:0;
	right:0;
	top:474px;

	width:980px;

	height:200px;
	/*border:2px solid red;*/
}

.projectBrief{
	/*z-index: 100;*/
	position: relative;

	/*top:180px;*/
	left: 56px;
	width:134px;
	height:164px;
	margin-left:0px;
	padding:13px 12px;
	background-color: #fff;
	/*border:2px solid red;*/
}

.briefSummary{
	font-family: Open Sans;
	font-weight: 400;
	font-size:9pt;
	line-height: 10pt;
}

.briefTags{
	font-family: Open Sans;
	font-weight: 300;
	font-size:9pt;
}

.projectText{
	position: relative;
	left: 33%;
	width:500px;
	/*height:405px;*/
	margin-left:0px;
	/*border:2px solid green;*/
}

#sfdmOverview{
	bottom:58px;
	right:180px;
}



.sjvc1{
	width:960px;
	height: 280px;
	top:-20px;
	left:8px;
	margin:0 auto;
	/*background-image: url(../img/stjo00.png);*/
}

.projectPageBreak{
	z-index: 10;
	position: relative;	
	width:100%;
	background-color: #efefef;
}

#sjvcPB1{
	top:60px;
	height:1200px;
}

#sjvcText1{
	top:80px;
}

.sjvc2{
	width:940px;
	height:786px;
	top:120px;
	left:8px;
	margin:0 auto;
	box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.4);
	/*background-image: url(../img/stjo01.png);*/
}

#sjvcText2{
	top:140px;
}

.sjvc3{
	width:940px;
	height:656px;
	top:190px;
	left:8px;
	margin:0 auto;
	box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.4);
	/*background-image: url(../img/stjo02.png);*/
}

#sjvcPB2{
	top:280px;
	height:2000px;
}

#sjvcText3{
	top:80px;
}

.sjvc4{
	width:940px;
	height:1323px;
	/*padding:0;*/
	top:130px;
	left:8px;
	margin:0 auto;
	box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.4);
	/*background-image: url(../img/stjo03.png);*/
}



/*
Back to top button 
*/
#back-top {
	z-index: 15;
	position: fixed;
	bottom: 30px;
	margin-left: 90%;
	margin-bottom: 2%;
}
#back-top a {
	
	width: 50px;
	display: block;
	text-align: center;
	font: 15px/100% Open Sans;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	/*z-index: 4000;*/
	position:absolute;
	left:9px;
	bottom:18px;
	width: 30px;
	height: 30px;
	margin:0 auto;
	display: block;
	/*margin-bottom: 7px;*/
	background-size: 100%;
	background-repeat: no-repeat;
	font: 30px/100% Open Sans;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	/*border:1px solid red;*/
}
#back-top a:hover span {
	z-index: 1000;
	background-color: #999;
}
